<button mat-fab extended color="primary" id="foglalas_button" [routerLink]="'/booking-options'">Árajánlatkérés</button>

<section class="hero">
  <div class="heroContent">
    <div class="title-section">
      <span>Megbízható személyszállítás</span>
      <h1>Atlas Ride</h1>
      <p>
        Az Atlas Ride gyors és megbízható repülőtéri transzfereket kínál, <br> személyre szabott privát személyszállítással belföldön és külföldön.
      </p>
    </div>
    <div class="hero-background"></div>
  </div>
  <section class="bulletin">
    <div class="line"></div>
    <div id="bulletinContainer">
      <app-bulletin
        [imageURL]="'images/icons/security.png'"
        [title]="'Megbízhatóság'"
        [content]="['Több százezer kilométer tapasztalat az utakon.', 'Folyamatosan karbantartott és szervizelt gépjármű.']"
      ></app-bulletin>
      <div class="vertical-line"></div>
      <app-bulletin
        [imageURL]="'images/icons/time.png'"
        [title]="'Pontosság'"
        [content]="['Számunkra kiemelten fontos a precíz és pontos időbeosztás.', 'Bízza ránk, és garantáljuk a pontos érkezést!']"
      ></app-bulletin>
      <div class="vertical-line"></div>
      <app-bulletin
        [imageURL]="'images/icons/comfort.png'"
        [title]="'Élmény'"
        [content]="['Az Ön kényelme számunkra a legfontosabb.', 'Garantáljuk, hogy utazása nyugodt és kellemes lesz!']"
      ></app-bulletin>
    </div>
  </section>
</section>

<section id="prices">
  <h1>Árak</h1>
  <table>
    <tr>
      <th>Komárom- Budapest Nemzetközi repülő tér</th>
      <td>25 000 ft-tól</td>
    </tr>
    <tr>
      <th>Komárom- Schwechat nemzetközi repülő tér</th>
      <td>30 000 ft-tól</td>
    </tr>
    <tr>
      <th>Komárom- Pozsonyi Nemzetközi repülőtér</th>
      <td>21 000 ft-tól</td>
    </tr>
    <tr>
      <th>Egyéb (nem repülőtérre történő) fuvar esetén</th>
      <td>Kérjen személyre szabott árajánlatot</td>
    </tr>
    <tr>
      <th>Oda-vissza út esetén</th>
      <td>50% kedvezmény a visszaút árából</td>
    </tr>
  </table>
</section>

<div id="backgroundDesign"></div>
