<div id="private-booking">
  <div class="form-container">
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="lastname">Vezetéknév:</label>
        <input
          type="text"
          id="lastname"
          [(ngModel)]="lastname"
          name="lastname"
        />

        <label for="firstname">Keresztnév:</label>
        <input
          type="text"
          id="firstname"
          [(ngModel)]="firstname"
          name="firstname"
        />
      </div>

      <div>
        <label for="email">E-mail:</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" />
      </div>

      <div>
        <label for="phone">Telefonszám:</label>
        <input type="text" id="phone" [(ngModel)]="phone" name="phone" />
      </div>

      <div>
        <label for="from">Honnan:</label>
        <input
          type="text"
          id="from"
          [(ngModel)]="from"
          name="from"
        />

        <label for="to">Hova:</label>
        <input
          type="text"
          id="to"
          [(ngModel)]="to"
          name="to"
        />
      </div>

      <button type="submit">Submit</button>
    </form>
  </div>
</div>
